# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
_pycache_
backendapi/__pycache__/
backendapi/backendapi/api/__pycache__/
backendapi/backendapi/backendapiproj/__pycache__/
backendapi/backendapi/api/migrations/__pycache__/
